/*------------- Commo styles ---------------*/
*{
    margin: 0px;
    padding: 0px;
} 
body{
    font-family: 'Poppins', sans-serif;
}
/*--------------- header styles ------------*/
.container{
    width: 100%;
    padding: 0px;
    margin: 0px;
} 
.header{
  background-color:   #264653;
}
.bike img{
    width: 552px;
    height: 447px;
}
.btn-1 {
   width: 168px; 
   height: 44px; 
   background-color:#E76F51;
   border-radius: 5px;
   color: white;
   font-weight: 500;
}
/*------------------- Feature Bike  style------------*/
*{
    margin: 0px;
    padding: 0px;
}
.fs-6{
    color:#E76F51;
    font-weight: 400;
}
.f-bike{
    width: 288px;
    height: 243px;
    filter: grayscale(100%);
}
.c-bike{
    width: 288px;
    height: 243px;
}
/*------------------- Clints reviews style ------------*/
.card{
    width: 322px;
    height: 478.01px;
    border: 1px solid rgba(196, 190, 190, 0.856);
    border-radius: 4px;
}
.card-img-top{
    margin: auto;
    padding-top: 10px;
} 
.fas , .far{
    color: #E77C40;
}
.star{
    margin: auto;
}

.card-img-top{
    width: 149px;
    height: 149px;
}
.card-img-top-3{
    width: 140px;
    height: 149px;
    margin: auto;
    border-radius: 50%;
    padding-top: 5px;
}
/*------------ Frequently Questions style ----------------*/
.qus-img{
    width: 431.2px;
    height: 423.5px;
}
/*----------------- top bikes style ----------------*/
.logo{
    width: 98%;
    margin: 10px;
}
.logo1{
    width: 100%;
    height: 420px;
}
.logo3{
    filter: contrast(70%);
    width: 98%;
    height: 420px;
}
/*------------------ Ask More style ----------------*/
.ask{
    width: 100%;
    height: 300px;
    border: 1px solid white;
    background-image: linear-gradient(rgb(147, 173, 229) , rgb(198, 213, 230));
}
.last{
    margin: 0px;
    padding: 0px;
}
 /*--------- media Query -----------*/
 @media only screen and (max-width:550px){
        .qus-img{
            width: 75%;
            }
} 
